db:
  image: postgres
  ports:
    - "5432"
redis:
  image: redis
  ports:
    - "6379"
elastic:
  image: elasticsearch
  command: elasticsearch -Des.network.host=0.0.0.0
  ports:
    - "9200"
web:
  build: .
  command: '/bin/bash -c "./test.sh"'
  volumes:
    - .:/src
  links:
    - db
    - redis
    - elastic